* {
  box-sizing: border-box;
  user-select: none;
}

::selection {
  background-color: rgb(204, 226, 255);
}

h1, h2, h3 {
  color: black !important;
  font-weight: 300 !important;
}

.MathJax {
  font-size: 1.08em !important;
}

.md-ellipsis {
  font-weight: 400;
}
