::selection {
  background-color: rgb(204, 226, 255);
}

* {
  box-sizing: border-box;
  user-select: none;
}

.progress-container {
  margin-top: -8px;
  height: 16px;
  width: 100%;
  background-color: #ddd;
}

.progress-percentage {
  text-align: right;
  font-size: 12px;
  padding-right: 8px;
  line-height: 16px;
  background-color: rgb(255, 145, 0);
  color: white;
}
