:root {
  --md-text-font: "Noto Sans", "Noto Sans SC";
  user-select: none;
  box-sizing: border-box;
}

::selection {
  background-color: rgb(204, 226, 255);
}

@font-face {
  font-family: "Noto Sans SC";
  src: "NotoSansSC-Regular.otf";
}

@font-face {
  font-family: "Noto Serif SC";
  src: "NotoSerifSC-Regular.otf";
}

@font-face {
  font-family: "Noto Sans";
  src: "NotoSans-Regular.ttf";
}

/* General Title */
.md-ellipsis {
  font-weight: 400;
}

/* Titles in each Passages */
h1, h2, h3, h4, h5, h6 {
  color: black !important;
  font-weight: 300 !important;
}

/* Admonitions */
.md-typeset .admonition,
.md-typeset details {
  border-radius: 0.1rem;
}

div.text-table {
  text-align: center;
}

div.text-table table {
  display: table;
}

div.text-table th {
  vertical-align: middle !important;
}

div.text-table td {
  vertical-align: middle !important;
}

/* {++ Added Markup in Critic ++} */
ins.critic {
  text-decoration: none;
}

/* {-- Deleted Markup in Critic --} */
del.critic {
  text-decoration: none;
}

/* Text in MathJax */
mjx-utext[variant="sans-serif"] {
  font-family: "Noto Sans", "Noto Sans SC" !important;
  font-size: 0.8rem !important;
}

div.admonition.note mjx-utext[variant="sans-serif"] {
  font-family: "Noto Sans", "Noto Sans SC" !important;
  font-size: 0.64rem !important;
}
